@import "styles/base";
@import "styles/fonts";

.app {
  body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
  }

  p {
    letter-spacing: 0.05rem;
    margin-bottom: 20px;
  }

  .widget {

    &__step {
      display: none;

      flex-direction: column;
      
      padding: 40px 120px;

      hr {
        width: 100%;
      }

      &-success-container {
        display: flex;
        justify-content: space-between;
        gap: 40px;

      }

      &-success-img {
        max-width: 300px;
      }

      &-success-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }

    }

    .active {
      display: flex;
    }

  }

  .vh-100 {
    height: calc(100vh - 25px);
  }

  h6, h5 {
    font-weight: bold;
  }

  p{
    color: $text-color;
    font-size: 15px;
    font-weight: 500;
  }

  h4{
    color: $dark-green-color;
    font-weight: 700;
  }

}