@import "../../styles/base.scss";

.input {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 10px 0;

    label {
        font-weight: 600;
        width: 100%;
    }

    input {
        border-radius: 3px;
        padding: 10px;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }

    &__counter {
        
    }
    
}

.error , .error:focus{
    border-color: $danger;
}

.error + span {
    padding-left: 3px;
    color: $danger;
}

.inline {
    flex-direction: row;

    label {
        font-weight: 400;
        margin-bottom: 0;
    }
}

.inverted {
    flex-direction: column-reverse;
}

.inline.inverted {
    flex-direction: row-reverse;
}